<!doctype html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Angular Messenger</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendors/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/styles/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <my-app>Loading...</my-app>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/vendors/scripts/jquery-3.3.1.min.js"></script> 
    <script src="/vendors/scripts/popper.min.js"></script> 
    <script src="/vendors/scripts/bootstrap.min.js"></script> 

    <!-- Optional JavaScript -->
    <script src="/js/app/bundle.js"></script>
  </body>
</html>